<style>

</style>

<body>
    <mat-toolbar color="primary">
        <span>
            <mat-icon>check_circle</mat-icon>
            <span>TODO: The Kanban Planner</span>
        </span>
    </mat-toolbar>

    <!-- <app-task-utility *ngFor="let todoItem of todoList" [task]="todoItem"></app-task-utility> -->

    <div>
        <!-- created, in progress, completed, saved for later -->
        <div class="swimlane">
            <h2>Created</h2>
            <mat-card id="cssCreated"
            cdkDropList #createdLane="cdkDropList"
            [cdkDropListData]="createdTasks" [cdkDropListConnectedTo]="[inProgressLane, completedLane, savedLane]"
            (cdkDropListDropped)="drop($event)">
                <p class="emptyLane" *ngIf="createdTasks.length==0">Empty</p>
                <app-task-utility cdkDrag (edit)="editTask('createdTasks', $event)" *ngFor="let task of createdTasks" [task]="task"></app-task-utility>
            </mat-card>
        </div>

        <div class="swimlane">
            <h2>In Progress</h2>
            <mat-card id="cssInProgress"
            cdkDropList #inProgressLane="cdkDropList"
            [cdkDropListData]="inProgressTasks" [cdkDropListConnectedTo]="[createdLane, completedLane, savedLane]"
            (cdkDropListDropped)="drop($event)">
                <p class="emptyLane" *ngIf="inProgressTasks.length==0">Empty</p>
                <app-task-utility cdkDrag (edit)="editTask('inProgressTasks', $event)" *ngFor="let task of inProgressTasks" [task]="task"></app-task-utility>
            </mat-card>
        </div>

        <div class="swimlane">
            <h2>Completed</h2>
            <mat-card id="cssCompleted" 
            cdkDropList #completedLane="cdkDropList"
            [cdkDropListData]="completedTasks" [cdkDropListConnectedTo]="[createdLane, inProgressLane, savedLane]"
            (cdkDropListDropped)="drop($event)">
                <p class="emptyLane" *ngIf="completedTasks.length==0">Empty</p>
                <app-task-utility cdkDrag (edit)="editTask('completedTasks', $event)" *ngFor="let task of completedTasks" [task]="task"></app-task-utility>
            </mat-card>
        </div>

        <div class="swimlane">
            <h2>Saved for Later</h2>
            <mat-card id="cssSaved" 
            cdkDropList #savedLane="cdkDropList"
            [cdkDropListData]="savedTasks" [cdkDropListConnectedTo]="[createdLane, inProgressLane, completedLane]"
            (cdkDropListDropped)="drop($event)">
                <p class="emptyLane" *ngIf="savedTasks.length==0">Empty</p>
                <app-task-utility cdkDrag (edit)="editTask('savedTasks', $event)" *ngFor="let task of savedTasks" [task]="task"></app-task-utility>
            </mat-card>
        </div>

    </div>
</body>